Heroes of Pymoli Data Analysis

In [49]:
# import dependencies
import pandas as pd
import numpy as np
import os

# file to load
heroPy = os.path.join('purchase_data.csv')

# store file in pandas pandas DF
heroFile = pd.read_csv(heroPy)
# preview file
# heroFile.head()

Player Count

In [58]:
# find length of total number of unique screen names
plyCount = heroFile['SN'].nunique()
plyDF = pd.DataFrame({'Total Players': [plyCount], columns== ["Total Players"]
# print out Total Players
plyDF

SyntaxError: invalid syntax (<ipython-input-58-7dccd41dad1e>, line 5)

In [46]:
numUni = heroFile['Item Name'].nunique()
avgPrice = ('${:,.2f}'.format(heroFile['Price'].mean()))
numPur = (heroFile['Purchase ID'].count())
totRev = ('${:,.2f}'.format(heroFile['Price'].sum()))


purchAnalysis = pd.DataFrame({'# of Unique Items': [numUni],
                             'Avg. Price': [avgPrice],
                              'Number of Purchases':[numPur],
                              'Total Revenue':[totRev]})
purchAnalysis

   # of Unique Items Avg. Price  Number of Purchases Total Revenue
0                179      $3.05                  780     $2,379.77

In [4]:
#get gender totals
# Group genders
genStats = heroFile.groupby('Gender')
# count number of unqie screen names for gender totals
genDemTot = genStats.nunique()['SN']
# calcuate % of each gender
genDemPer = ((genDemTot / plyCount)*100)
# generate new dataframe
genDem = pd.DataFrame({'Total Count': genDemTot,
                       '% of Players': genDemPer})
# round percent to 2 decimals
genDem = genDem.round(2)
genDem

                       Total Count  % of Players
Gender
Female                          81         14.06
Male                           484         84.03
Other / Non-Disclosed           11          1.91

In [5]:
# calculate purchase count, avg purchase price, total purchase price, and the average purchase per person
genPurCount = genStats['Purchase ID'].count()
genAvgPur = genStats['Price'].mean()
genTotPur = genStats['Price'].sum()
purPerGen = (genTotPur / genDemTot)
# test values
#genPurCount
#genAvgPur
#genTotPur
#purPerGen
# build new DF
genDem = pd.DataFrame({'Purchase Count': genPurCount,
                       'Avg. Purchse Price': genAvgPur,
                       'Total Purchase Price': genTotPur,
                       'Avg. Total Purchase Price per Person': purPerGen})
# format all float values in DF
pd.options.display.float_format = '${:,.2f}'.format

genDem
# format calculated values

,Purchase Count,Avg. Purchse Price,Total Purchase Price,Avg. Total Purchase Price per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [39]:
# check ranges
#minAge = heroFile.Age.min()
#maxAge = heroFile.Age.max()
#print(minAge)
#print(maxAge)
# group by age
# ageStats = heroFile.copy()
purUnique = heroFile.loc[:,["SN", "Age", "Price", "Gender"]]
# purUnique = purUnique.drop_duplicates()
# purUnique
uniquePlay = purUnique.nunique()['SN']
# ageStats = heroFile.copy()
# # create bins
ageRange = [0, 9.9, 14,19,24,29,34,39,50]
ageGroups = ['<10','10-14','15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# # add bins into a new DataFrame
purUnique['Age Ranges'] = pd.cut(purUnique['Age'], ageRange, labels= ageGroups)
# # calcuate column values
agePurCount = purUnique['Age Ranges'].value_counts()
# ageCount = purUnique['Age Ranges'].nunique()
playerPercent = ((agePurCount / uniquePlay)*100)


ageDem = pd.DataFrame({'Purchase Count': agePurCount,
                       'Percent of Players': playerPercent})

pd.options.display.float_format = '%{:,.2f}'.format

ageDem
purUnique
uniquePlay
# agePurCount
# # format all float values in DF

# agePurCount
# ageCount

IndexError: invalid index to scalar variable.

In [24]:
ageAvgPur = ageStats['Price'].mean()
ageTotPur = ageStats['Price'].sum()
purPerAge = (ageTotPur / agePurCount)

({'Purchase Count': agePurCount,
                       'Avg. Purchse Price': ageAvgPur,
                       'Total Purchase Price': ageTotPur,
                       'Avg. Total Purchase Price per Person': purPerAge})


pd.options.display.float_format = '${:,.2f}'.format